header {
    position: relative;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}

 header > div > #dev {
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 7px;
}

#devid {
    text-align: center;
    font-size: 18px;
}

.head {
    display: flex;
    flex-direction: row;
}

input {
    display: flex;
    height: 25px;
    width: 300px;
    background-color: white;
}

#page-content {
    display: flex;
    flex-direction: row;
    background-color: rgb(216, 234, 238);
    margin-top: 20px;
}

#left-side-bar {
    height: 2000px;
    width: 22%;
    background-color: darkmagenta;
    margin: 10px;
}

main {
    background-color: darkkhaki;
    height: 5000px;
    width: 48%;
    margin: 10px;
}

.recto {
    height: 400px;
    width: 100%;
}

#right-side-bar {
    height: 2000px;
    width: 22%;
    background-color: darkred;
    margin: 10px;
}

.fotuki {  
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-top: 5px;
}

.gith {
    height: 150px;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parrafuki { 
    margin-left: 10px;
}


.chingadera {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    background-color: rgb(0, 230, 238);
    margin-top: 10px;
    margin-bottom: 10px;
}

.save {
    height: 30px;
    width: 50px;
}

.righty {
    background: chartreuse;
    border-radius: 10px;
    font-size: larger;
    margin: 5px;
    margin-bottom: 20px;
}

.right-section {
    height: 100px;
    width: 100%;
    background: crimson;
    border-radius: 15px;
    margin-top: 20px;
}