.maluma {
  padding-left: 70px;
}

@media (max-width: 768px) {
  .maluma {
    padding-left: 5px;
  }
  .icono-placeholder {
    padding-left: 100px;
  }
}
.placeholder {
  background-image: url(/img/search-outline.svg);
  background-repeat: no-repeat;
  background-position: right;
  fill: darkgrey;
}
.placeholderT {
  background-image: url(/img/search-outline.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.containerCardderStiky {
  position: sticky;
  top: 20px;
}

#HagtashArticles {
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cardReadNext {
  background-color: #f9f9f9;
}
